<div class="row">
  <div class="col-xxxl-6 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-wearable-status-card [title]="statusCard.title" [type]="statusCard.type" [on]="statusCard.on" [bar]="statusCard.bar" [lastUpdate]="statusCard.lastUpdate" [bodyTemperature]="statusCard.bodyTemperature" [heartRatePerMinute]="statusCard.heartRatePerMinute" [oxygenation]="statusCard.oxygenation"  [goalStatus]="statusCard.goalStatus" [clickable]="false">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-wearable-status-card>
  </div>
</div>

<div class="row">
  <ngx-goal-table [actions]="goalActions" [columns]="columns" [customTableElemMapFunction]="customTableElemMapFunction"></ngx-goal-table>
</div>

<div class="row">
  <ngx-wearable-sos-creation></ngx-wearable-sos-creation>
</div>
