@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .ngx-goals-by-status-chart-content {
    display: block;
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: nb-theme(card-height-small);
    }
  }
}
