[submodule "PoC/AP_Engine/fcpp"]
	path = PoC/AP_Engine/fcpp
	url = https://github.com/fcpp/fcpp.git
[submodule "GAZEBO_Turtlebot3/src/multi_turtlebot3"]
	path = GAZEBO_Turtlebot3/src/multi_turtlebot3
	url = https://github.com/Gior26/multi_turtlebot3.git
[submodule "GAZEBO_Turtlebot3/src/rcl"]
	path = GAZEBO_Turtlebot3/src/rcl
	url = https://github.com/Gior26/rcl_retry_failed_to_send_response.git
[submodule "Navigation_System/src/create3_examples"]
	path = Navigation_System/src/create3_examples
	url = git@github.com:Gior26/create3_examples.git
	branch = humble
[submodule "Navigation_System/src/ldlidar_stl_ros2"]
	path = Navigation_System/src/ldlidar_stl_ros2
	url = https://github.com/Gior26/ldlidar_stl_ros2

[submodule "Crazyflie/crazyflie-firmware"]
	path = Crazyflie/crazyflie-firmware
	url = https://github.com/llanesc/crazyflie-firmware.git
    branch = sitl-release
[submodule "Crazyflie/ros2_ws/src/crazyswarm2"]
	path = Crazyflie/ros2_ws/src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2.git
	branch = main
[submodule "Crazyflie/ros2_ws/src/motion_capture_tracking"]
	path = Crazyflie/ros2_ws/src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking.git
    branch = ros2
