[submodule "PoC/AP_Engine/fcpp"]
	path = PoC/AP_Engine/fcpp
	url = https://github.com/fcpp/fcpp.git

[submodule "Crazyflie/crazyflie-firmware"]
	path = Crazyflie/crazyflie-firmware
	url = https://github.com/llanesc/crazyflie-firmware.git
    branch = sitl-release
[submodule "Crazyflie/ros2_ws/src/crazyswarm2"]
	path = Crazyflie/ros2_ws/src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2.git
	branch = main
[submodule "Crazyflie/ros2_ws/src/motion_capture_tracking"]
	path = Crazyflie/ros2_ws/src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking.git
    branch = ros2
[submodule "Crazyflie/crazyflie-lib-python"]
	path = Crazyflie/crazyflie-lib-python
	url = https://github.com/llanesc/crazyflie-lib-python.git
	branch = sitl-release
