/**/build/**
/**/install/**
/log/**
/GAZEBO_Create3/log/
/GAZEBO_Create3/**/log/**
/GAZEBO_Create3/aws-robomaker-small-house-world/
/GAZEBO_Turtlebot3/log/**
/GAZEBO_Turtlebot3/**/log/**
/PoC/AP_Engine/bin/**
/PoC/AP_Engine/output/**
/PoC/cache/**
/Sensors_Server/target
/**/.idea/**
/**/.vscode/**
/**/__pycache__/**
/Storage/from_*/**/to_*/feedback/**
/Storage/from_*/**/to_*/actions/**
/Navigation_System/log/**
/Robot_Writer/**/log/**
/Robot_Reader/**/log/**
/Wearable_Reader/**/build/**
/Wearable_Reader/**/install/**
/Wearable_Reader/**/log/**
/Gazebo_Custom_Plugins/**/build/**
/Gazebo_Custom_Plugins/**/install/**
/Gazebo_Custom_Plugins/**/log/**
/Proxies/**/log/**
/GAZEBO_Turtlebot3/src/battery_services/
/GAZEBO_Turtlebot3/src/gazebo_ros_batteries/
/GAZEBO_Turtlebot3/src/nav2/
/GAZEBO_Turtlebot3/src/utils/
Sensors_Server/log/**
Sensors_Web_App/log/**



/GAZEBO_Turtlebot3/log/
Crazyflie/log/
Crazyflie/install/
Crazyflie/build/

Crazyflie/ros2_ws/log/**
Crazyflie/ros2_ws/install/**
Crazyflie/ros2_ws/build/**
Crazyflie/ros2_ws/src/log/**
Crazyflie/ros2_ws/src/build/**
Crazyflie/ros2_ws/src/install/**
Crazyflie/ros2_ws/src/cache/**
Crazyflie/ros2_ws/cache/**
**tags
