<div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card accent="primary">
        <nb-card-header>
            Simula la generazione di un SOS
        </nb-card-header>
        <nb-card-body>
            <nb-stepper #stepper (stepChange)="handleStepChange($event)">
            <nb-step [stepControl]="firstForm" label="Inserisci">
                <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
                <p class="lorem">
                    Inserisci qui i dati per produrre un SOS dal wearable specificato.
                </p>
                <div class="input-group">
                    <label for="wearableCode" class="input-label">Codice wearable:</label>
                    <select id="wearableCode" class="form-control input-field" formControlName="firstCtrl" [(ngModel)]="wearableCode"
                    [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                        <option value="" selected>Seleziona il wearable del paziente</option>
                        <option *ngFor="let option of patientOptions" [value]="option.value">{{ option.label }}</option>
                    </select>
                </div>

                <div class="input-group" style="margin-top: 10px;">
                    <label for="triggerEvent" class="input-label">Evento da generare:</label>
                    <select id="triggerEvent" class="form-control input-field" formControlName="firstCtrl" [(ngModel)]="triggerEvent"
                    [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                        <option value="" selected>Seleziona l'evento da generare</option>
                        <option value="1">Caduta accidentale</option>
                        <option value="2">Problema di saturazione dell'ossigeno</option>
                        <option value="3">Problema relativo alla temperatura corporea</option>
                        <option value="4">Problema cardiaco</option>
                        <option value="5">Chiamata manuale del paziente</option>
                    </select>
                </div>
                <div>
                    <button nbButton status="primary" nbStepperNext>Avanti</button>
                </div>
                </form>
            </nb-step>
            <nb-step label="Conferma">
                <form class="step-container">
                    <p class="lorem">
                        Sei sicuro di voler generare l'evento specificato?
                    </p>
                <button nbButton status="error" nbStepperPrevious>prev</button>
                <button nbButton status="primary" nbStepperNext>next</button>
                </form>
            </nb-step>
            <nb-step label="Fine">
                <form class="step-container">
                <p class="lorem">
                    Il sistema sta processando la tua richiesta...
                </p>
                </form>
            </nb-step>
            <nb-step [hidden]="true" label="Fine">
                <div class="step-container">
                <h4>Complimenti!</h4>
                <p>La richiesta di creazione è stata inviata al wearable del paziente selezionato.</p>
                <button nbButton (click)="stepper.reset()">Genera un nuovo evento</button>
                </div>
            </nb-step>
            <nb-step #errorstep  [hidden]="true" label="Errore">
                <div class="step-container">
                <h4>Errore!</h4>
                <p>Qualcosa è andato storto. Per favore riprova.</p>
                <button nbButton (click)="stepper.reset()">Genera un nuovo evento</button>
                </div>
            </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>
