<div class="row">
  <div class="col-xxxl-6 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-robot-status-card [title]="statusCard.title" [type]="statusCard.type" [on]="statusCard.on" [bar]="statusCard.bar" [lastUpdate]="statusCard.lastUpdate" [temperature]="statusCard.temperature" [humidity]="statusCard.humidity" [pressure]="statusCard.pressure"  [clickable]="false">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-robot-status-card>
  </div>
</div>

<div class="row" *ngIf="goal_creation_show">
  <ngx-goal-creation></ngx-goal-creation>
</div>

<div class="row" *ngIf="goal_table_show">
    <ngx-goal-table [actions]="goalActions" [columns]="columns" [customTableElemMapFunction]="customTableElemMapFunction"></ngx-goal-table>
</div>

<div class="row" >
  <ngx-robot-map *ngIf="goal_map_show"></ngx-robot-map>
  <ngx-goals-by-node-chart *ngIf="goal_charts_show"></ngx-goals-by-node-chart>
  <ngx-goals-by-status-chart *ngIf="goal_charts_show"></ngx-goals-by-status-chart>
</div>
