<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card accent="primary">
    <nb-card-header>
      <div class="row">
        <div class="col-10">
          Tabella riepilogativa dei goal
        </div>
        <div class="refresh-button-goals col-2">
<!--          <button nbButton size="small" status="primary" (click)="refreshGoals()"><i class="nb-loop"></i></button>-->
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
